.container {
  display: flex;
  text-align: left;
  margin-bottom: 1.5rem;
  padding-top: 68px;
}
.container .tit02 {
  font-size: 16px;
  padding: 6px 0px;
}

.tit01 {
  display: flex;
  font-size: xx-large;
  align-items: center;
}
.tit01 > div {
  padding-right: 16px;
}

.tit02 {
  display: none;
  justify-content: space-between;
}

.tit02 > p {
  margin-right: 32px;
}

.tit02 > p > span {
  font-weight: bold;
}

.tit03 {
  display: none;
}
.mobiletit03 {
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  padding: 2px 0px;
  padding-left: 16px;
  font-size: 14px;
}

.mobile {
  display: grid;
  padding: 10px 0px;
  margin-top: 1rem;
  border-top: 1px solid rgb(220, 220, 220);
  grid-template-columns: 1fr 1fr 1fr;
}
.mobile > span {
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.mobile > span > div {
  font-size: 14px;
  font-weight: 500;
  color: rgb(167, 166, 166);
}

@media (min-width: 740px) {
  .container {
    display: flex;
    text-align: left;
    padding-top: 84px;
  }
  .pcinfo {
    padding-left: 40px;
  }
  .tit02 {
    display: flex;
    justify-content: space-between;
  }

  .tit03 {
    display: block;
    text-overflow: ellipsis;
    font-size: 16px;
    padding: 2px 0px;
  }

  .mobiletit03 {
    display: none;
  }
  .mobile {
    display: none;
    visibility: hidden;
  }

  .mobile > div {
    display: none;
  }
}
