.round {
  position: absolute;

  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.container {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
}
.commonBorder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border {
  box-sizing: border-box;
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 740px) {
  .container {
    display: flex;
    width: 248px;
    padding-left: auto;
    padding-right: auto;
    justify-content: center;
    align-items: center;
  }
  .container .borderProfile .profile {
    width: 150px;
    height: 150px;
  }

  .container .borderProfile {
    width: 158px;
    height: 158px;
  }
}

.borderProfile .profile {
  width: 77px;
  height: 77px;
}
.story {
  width: 80px;
  height: 80px;
}
.board {
  width: 32px;
  height: 32px;
}
.nav {
  width: 24px;
  height: 24px;
}
.m {
  width: 40px;
  height: 40px;
}
.l {
  width: 100px;
  height: 100px;
}
.search {
  width: 44px;
  height: 44px;
}
.borderProfile {
  width: 86px;
  height: 86px;
}
.borderStory {
  width: 86px;
  height: 86px;
}
.borderBoard {
  width: 36px;
  height: 36px;
}
.borderNav {
  width: 28px;
  height: 28px;
}
.borderM {
  width: 44px;
  height: 44px;
}
.borderL {
  width: 108px;
  height: 108px;
}