.content{
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
}


.reply {
  width: 200px;
  padding-right: 8px;
  font-size: 14px;
  text-overflow: ellipsis;
}

.reply > span {
  position: relative;
  font-size: 14px;

  
}

.date {
  font-size: 12px;
  padding-top: 4px;
  color: rgb(160, 160, 160);
}