.imagebox {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.multiple {
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
}
.multiple .picture {
  padding: 0.5rem 0.5rem 0 0;
  font-size: 20px;
}
.multiple .play {
  font-size: 34px;
}

.imagebox:hover {
  background-color: black;
}

.image:hover {
  z-index: 1;
  opacity: 60%;
}

.boardinfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.flex {
  color: white;
  font-weight: bold;
}

.flex > div {
  display: flex;
  font-size: 14px;
  padding-bottom: 4px;
  margin: 0 auto;
  font-family: cursive;
}

.flex > div > span {
  padding-left: 2px;
}

@media (min-width: 740px) {
  .flex {
    color: white;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
  }

  .boardinfo {
    width: 100%;
  }
  .multiple .picture {
    font-size: 24px;
    padding: 1rem 1rem 0 0;
  }
  .multiple .play {
    font-size: 44px;
  }
}
