.container {
  min-height: 100vh;
  max-width: 934px;
  text-align: center;
  padding-top: 84px;
  color: black;
  margin: 0 auto;
  z-index: 1;
}

@media (min-width: 740px) {
  .container {
    min-height: 100vh;
    max-width: 934px;
    text-align: center;
    padding-top: c;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    margin: 0 auto;
    z-index: 1;
  }
}
