/* board modal */
.outerContainer {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  opacity: 50%;
  z-index: 90;
}

.out {
  position: absolute;
  top: 2%;
  right: 1%;
  color: white;
  cursor: pointer;
}

.innerContainer {
  position: absolute;
  min-width: 300px;
  padding-left: 4rem;
  padding-right: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 95;
}
.imageBox {
  width: full;
  background-color: black;
}
.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  min-height: 334px;
}
.content > div {
  width: 292px;
  padding: 2px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
  height: 56px;
  padding: 0 1rem;
}
.header > div {
  display: flex;
  align-items: center;
}
.header > div > div {
  padding-right: 8px;
  font-size: 14px;
}

/* ㅅ크롤 바 안보이게 스크롤 가능하게 하는 기능 */
.comment {
  max-height: 60px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.comment::-webkit-scrollbar {
  display: none;
}
#form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form:hover > #hoverIcon {
  cursor: pointer;
  opacity: 100%;
}

#form > div {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
}
#form > div > div {
  padding-right: 8px;
  font-size: 14px;
}
#form > div > div > span {
  font-size: 14px;
}
.date {
  padding-top: 4px;
  color: rgb(160, 160, 160);
}

.footer {
  display: none;
  height: 80px;
}
.footerIcon {
  display: flex;
  padding-top : 6px;
  justify-content: space-between;
}
.footerNavi {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.favorite{
  font-size: 13px;
  font-weight: bold;
}
.datef {
  font-size: 10px;
  padding-top:4px;
  color: rgb(160, 160, 160);
}

.edit {
  display: flex;
  height: 38px;
  align-items: center;
}

.hover {
  display: none;
}

/* mobile version */
.pcFlex {
  display: none;
}
.pcBlock{
  display: none
}
.mobileFlex {
  display: flex;
}
.mobileBlock {
  display: block;
}

@media (min-width: 940px) {
  .innerContainer {
    display: grid;
    width: 860px;
    grid-template-columns: 2fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 550px;
  }
  .header {
    height: 68px;
  }

  .comment {
    min-height: 344px;
  }
  .footer {
    position: relative;
    width: 100%;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    height: 80px;
  }


  .edit {
    height: 40px;
  }

  /* mobile version */
  .mobileFlex {
    display: none;
  }
  .mobileBlock {
    display: none;
  }
  .pcFlex {
    display: flex;
  }
  .pcBlock {
    display: block;
  }
}

/* basic modal */
.outerContainer_2 {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  opacity: 50%;
  z-index: 100;
}

.innerContainer_2 {
  position: absolute;
  width: 380px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  z-index: 105;
}

.header2_bt {
  height: 2rem;
  padding: auto 0;
  border-bottom: 1px solid rgb(220, 220, 220);
}
.header2 {
  height: 2rem;
  padding: auto 0;
}

.out2 {
  position: absolute;
  top: 2%;
  right: 1%;
  cursor: pointer;
}

#hoverIcon {
  opacity: 0%;
}

.content2 {
  display: flex;
  padding: 12px 22px;
  justify-content: space-between;
}
.content2 > div {
  display: flex;
  text-align: left;
  align-items: center;
}
.content2 > div > div {
  display: flex;
  flex-direction: column;
}

.content2 > div > div > span {
  padding-left: 8px;
  font-size: 13px;
}
